@import "partials/base";

/* GENERAL */
html{
    height: 100%;
    min-width: 100%;
    position:relative;
    -webkit-text-size-adjust: none ;
    font-size-adjust: none;
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: none;
    transition: all .5s;

    @media screen and (max-width: $break-large) {
        min-width: 100%;
    }
    @media screen and (max-width: $break-small) {
        min-width: 100%;
    }
}

body {
    height:100%;
    width:90%;
    min-width: 320px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: none;
    transition: all .5s;
    @include txt-open(14px,$grey);
    margin:0 auto;
    padding:0;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: normal;
    transition: all .5s;
}
img{
    outline:none;
}

a img {
    border: none;
}


h1{
    @include txt-open(36px,black);
    padding-top:20px;
    padding-bottom:10px;
    text-align:center;

    span{
        font-weight: 400;
        color:$red;
    }
    @media screen and (max-width: $break-large) {
        font-size: 30px;
    }
    @media screen and (max-width: $break-small) {
        padding-top:10px;
        font-size: 26px;
    }
}
h2{

}
h3{
    @include  txt-open(20px,black);
    &.white{
        color:white;
    }
    &.red-color{
        color:$red;
    }
    @media screen and (max-width: $break-large) {
        font-size: 20px;
    }
    @media screen and (max-width: $break-small) {
        font-size: 20px;
    }
}
p{
    @include txt-open(14px,black);
    &.white{
        color:white;
    }
}

hr{
    height: 8px;
    border-top:1px solid black;;
    margin:0px;
    padding:0px;
}
input, textarea{
    width:100%;
    height: 32px;
    line-height: 32px;
    background-color: black;
    box-sizing:border-box;
    padding-left:8px;
    margin-bottom:6px;
    border:$grey solid 2px;

    @include txt-open(13px, white);
}
textarea{
    height:70px;
}

#product-info {
    .element{
        float:left;
        width:50%;
        @media screen and (max-width: $break-large) {
            float: none;
            width:100%;
        }
    }

    .img-container{
        padding:10px;
        border: 1px solid black;
        text-align:center;
        img {
            width:50%;
            margin: auto;
        }
    }

    .form{
        float:left;
        width:40%;
        padding-left:10%;

        @media screen and (max-width: $break-large) {
            float: none;
            width:100%;
            padding-left:0%;
        }

        .bigprice{ font-size:38px; padding-bottom: 6px; }
    }

    fieldset{
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

#tab-content{
    width:100%;
    float:none;
    clear: both;
    .tabs {
        position: relative;   
        min-height: 400px; 
        clear: both;
        margin: 35px 0 25px;
        background: white;
        @media screen and (max-width: $break-large) {
            min-height: 700px; 
        }    
    }
    .tab {
        float: left;

        label {
            cursor: pointer;
            background: #eee; 
            padding: 10px; 
            border: 1px solid #ccc; 
            margin-left: -1px; 
            position: relative;
            left: 1px; 
            top: -29px;
            -webkit-transition: background-color .17s linear;
        }
    }

    .tab [type=radio] {
        display: none;   
    }
    .content {
        position: absolute;
        top: -1px;
        left: 0;
        background: white;
        right: 0;
        bottom: 0;
        padding: 20px;
        border: 1px solid #ccc; 
        -webkit-transition: opacity .6s linear;
        opacity: 0;
    }
    [type=radio]:checked ~ label {
        background: white;
        border-bottom: 1px solid white;
        z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
        z-index: 1;
        opacity: 1;
    }

    #questions-answers{
        .detail {
            .qdescription{
                background-color: $light-blue;
                color:$dark-blue;
                padding: 14px;
            }
            .question{
                color:$dark-blue;
            }
            .adescription{
                background-color: $light-green;
                color:$dark-green;
                padding: 14px;
            }
            .answer{
                color:$dark-green;
            }
        }
    }
}

#main-menu{

    background-color: $yellow;
    padding-top:40px;
    ul {
        text-align: center;
        font-size: 26px;
        padding-bottom:40px;
        
        @media screen and (max-width: $break-large) {
            padding-bottom:10px;
        }

        li{
            float:left;
            width:33%;
            text-align: center;
            @media screen and (max-width: $break-large) {
                float:none;
                width:100%; 
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}

nav{
    padding-top:20px;
    padding-bottom:20px;
    ul{
        li{
            float:left;
            padding-right:20px;
        }
    }
}